
  .color-btn {
    width: 20px; /* Buton genişliği */
    height: 20px; /* Buton yüksekliği */
    border: 1px solid #ddd; /* Buton kenarlığı */

  }
  .color-btn.blue {
    background-color: blue;
  }
  
  .color-btn.red {
    background-color: red;
  }
  .color-btn.green {
    background-color: rgb(58, 192, 111);
  }  .color-btn.black {
    background-color: rgb(17, 18, 17);
  }
  .color-btn.blue {
    background-color: rgb(26, 113, 180);
  }.color-btn.grey {
    background-color: rgb(117, 120, 122);
  }
  .color-btn.white {
    background-color: white;
    border: 1px solid #ddd; /* Beyaz buton için kenarlık */
  }
  
  
 
  
 

  