
  
 
  .custom-heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem; /* İkonun boyutunu ayarlayın */
    color: red; /* İkonun rengini ayarlayın */
    cursor: pointer; /* İkonun üzerine gelindiğinde işaretçi değişir */
    z-index: 1; /* Diğer elemanların üstünde kalmasını sağlar */
  }
  
  
  
  .color-buttons {
    display: flex;
    gap: 5px; /* Butonlar arasında boşluk */
  }
  
  .color-btn {
    width: 20px; /* Buton genişliği */
    height: 20px; /* Buton yüksekliği */
    border-radius: 50%; /* Butonları yuvarlak yapar */
    border: 1px solid #ddd; /* Buton kenarlığı */
    cursor: pointer; /* Butonların üzerine gelindiğinde işaretçi değişir */
  }
  
  .color-btn.blue {
    background-color: blue;
  }
  
  .color-btn.red {
    background-color: red;
  }
  .color-btn.green {
    background-color: rgb(58, 192, 111);
  }  .color-btn.black {
    background-color: rgb(17, 18, 17);
  }
  .color-btn.blue {
    background-color: rgb(26, 113, 180);
  }.color-btn.grey {
    background-color: rgb(117, 120, 122);
  }
  
  
  
  .color-btn.white {
    background-color: white;
    border: 1px solid #ddd; /* Beyaz buton için kenarlık */
  }
  
  .btn-outline-primary {
    position: relative;
  }
  